:root {
  /*Color pallet*/
  --cl-green: #C2D8B9;
  --cl-light-green: #E4F0D0;
  --cl-white: #FFFCF7;
  --cl-light-blue: #A1B5D8;
  --cl-blue: #738290;
  --cl-slider-dots: #dbdbdb;
  --cl-text: #000000;

  /*Color pallet Dark*/
  @media (prefers-color-scheme: dark) {
    --cl-green: #434445;
    --cl-light-green: #2f3031;
    --cl-white: #1e1f22;
    --cl-light-blue: #555964;
    --cl-blue: #353942;
    --cl-slider-dots: #939393;
    --cl-text: #e4e4e4;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--cl-text);
  background: var(--cl-white);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
